<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="/assets/js/axios.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!--    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>-->
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>
    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css
          rel=stylesheet>
<!--    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/static/css/main.css"/>-->
    <link rel="stylesheet" href="https://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js"></script>
    <script src="https://drvic10k.github.io/bootstrap-sortable/Scripts/bootstrap-sortable.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function confSubmit(form) {
            if (confirm("Are you sure you want to submit the form?")) {
                form.submit();
            }

            else {
                alert("You decided to not submit the form!");
            }
        }
    </script>


    <title>Registration</title>
</head>
<body>
<div th:replace="fragments/header2 :: header">&nbsp;</div>
<br/><br/>
<br/><br/>

<div class="container">
    <div th:value="${user.username}" class=" col align-self-end">
        <h1>Personal cabinet</h1>
        <div class="col-xs-4">
            <label for="username"></label>
            <input hidden th:readonly="true" id="username" class="form-control" type="text" name="username"
                   th:value="${user.username}"/>
        </div>
        <h5 th:text="'Username: ' + ${user.username}"></h5>
        <h5 th:text="'Roles:'"></h5>
        <div th:each="role : ${user.roles}">
            <h6 th:text="${role.name}"></h6>
        </div>
    </div>
</div>


<div class="container">

    <h1>Comments</h1>

    <table class="table table-bordered sortable glyphicon-edit">
        <thead>
        <tr>
            <th>UUID</th>
            <th>University</th>
            <th>Points</th>
            <th>Text</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment,i : ${user.getComments()}">
            <td id="commentId" th:value="${comment.id}" th:text="${comment.getId()}">Text...</td>
            <td th:text="${comment.getUniversity().getName()}"></td>
            <td th:text="${comment.getPoints()}"></td>
            <td th:text="${comment.getText()}">Text...</td>

            <td class="td-button">
                <form th:action="@{/user/{username}/comments/remove/{commentId}(commentId=${comment.getId()},username=${user.getUsername()})}"
                      method="post">
                    <div class="form-group">
                        <button type="button" class="btn btn-danger btn-block" onclick="confSubmit(this.form);">Delete</button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class=" col align-self-end">
        <div class="col-xs-4">
            <label for="commentId2">User ID</label>
            <input id="commentId2" class="form-control" type="text" name="userId"
                   placeholder="Enter UUID of comment"/>
        </div>
        <div class="col-xs-2">
            <label for="points">Points</label>
            <input id="points" class="form-control" type="number" name="points"
                   placeholder=" Enter points from 0 to 100..."/>
        </div>
        <div class="col-xs-7">
            <label for="text">Text</label>
            <input id="text" class="form-control" type="text" name="text"
                   placeholder=" Enter text"/>
        </div>
        <br>
        <div class="form-group">
            <button type="submit" id="editButton" class="btn btn-primary">Edit</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="/editcomment.js"></script>
</body>
</html>