h1 {
    color: #78ab46;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.th {
    height: 50px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    width: 100px;
}

.th, .td {
    border-bottom: 1px solid #ddd;
}

.th:hover {
    background: yellow
}

#universities-table {
    text-align: center;
    width: 600px;
    margin: auto;
}

#employees-list {
    text-align: center;
    width: 1200px;
    margin: auto;
}

#add {
    text-align: left;
    width: 300px;
    margin: auto;
}

#update_employee {
    text-align: left;
    width: 300px;
    margin: auto;
}

#btn{
    text-align: left;
    width: 400px;
    height: 50px;
}

#add_depart{
    text-align: left;
    width: 300px;
    margin: auto;
}