<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>

    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>

    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css
          rel=stylesheet>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/static/css/main.css"/>
    <script src="assets/js/axios.min.js"></script>

</head>
<body>
<div th:replace="fragments/header2 :: header">&nbsp;</div>
<br/><br/>
<br/><br/>
<br/><br/>
<div class="container">
    <div class=" col align-self-end">
        <form th:action="@{/universities-find}" method="get">

            <div class="form-group row">
                <div class="col-xs-2">
                    <label for="ex1">Country</label>
                    <input class="form-control" id="ex1" type="text" name="country" th:value="${country}" placeholder=" Enter country..."/>
                </div>
                <div class="col-xs-3">
                    <label for="ex2">City</label>
                    <input class="form-control" id="ex2" type="text" name="city" th:value="${city}" placeholder=" Enter city..."/>
                </div>
                <div class="col-xs-7">
                    <label for="ex3">Specialties</label>
                    <input class="form-control" id="ex3" type="text" name="specialties" th:value="${specialties}"  placeholder="Divide specialties ids by ,">
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success btn-block">Find</button>
            </div>
        </form>
    </div>
</div>

<br/><br/>
<br/><br/>
<br/><br/>
<div class=container>
    <table th:cellspacing=0 class="table table-bordered table-hover table-inverse table-striped" id=universities-table
           style="font-size: 16px">
        <thead>
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Official points</th>
            <th>User points</th>
            <th>Location</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="university,iter : ${universities}">
            <td th:utext="${iter.count} ">...</td>
            <td th:utext="${university.getName()} ">...</td>
            <td th:utext="${university.getOfficialPoints()}">...</td>
            <td th:utext="${university.getUserPoints()}">...</td>
            <td th:utext="${university.getLocation()}">...</td>
            <td><a th:href="@{/universities-find/{id}(id=${university.getId()})}">view </a>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#universities-table').DataTable();
    });
</script>
<!--<script src="postcomment.js"></script>-->
</body>
</html>