<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <script src="/assets/js/axios.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>

    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/jquery.dataTables.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/js/dataTables.bootstrap4.min.js></script>

    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css
          rel=stylesheet>
    <link rel="stylesheet" type="text/css" media="screen" href="../../../resources/static/css/main.css"/>

    <title>Registration</title>
</head>
<body>

<div th:replace="fragments/header2 :: header">&nbsp;</div>
<br/><br/>
<br/><br/>

<div class="container">
    <div class=" col align-self-end">
        <h1 th:text="${university.name}">...</h1>
        <h5 th:text="'Location: ' + ${university.location}"></h5>
        <h5 th:text="'Official points: ' + ${university.officialPoints}"></h5>
        <h5 th:text="'User points:' + ${university.userPoints}"></h5>
        <br>
        <h5 th:text="'Specialties:'"></h5>
        <div th:each="specialty : ${university.specialties}">
            <h6 th:text="${specialty.id} + ' '  + ${specialty.name}"></h6>
        </div>
    </div>
</div>

<div class="container">

    <h1>Comments</h1>
    <div class="container">
        <div class=" col align-self-end">
            <form th:if="${#authorization.expression('isAuthenticated()')}">

                <div class="form-group row">

                    <div class="col-xs-2">
                        <label for="userId">User ID</label>
                        <input id="userId" class="form-control" type="text" th:readonly="true" name="userId"
                               value="userId" th:value="${user.id}"/>
                    </div>
                    <div class="col-xs-2">
                        <label for="universityId">University ID</label>
                        <input id="universityId" th:readonly="true" class="form-control" type="text" name="university"
                               th:value="${university.id}"/>
                    </div>
                    <div class="col-xs-2">
                        <label for="points">Points</label>
                        <input id="points" class="form-control" type="number" name="points"
                               placeholder=" Enter points from 0 to 100..."/>
                    </div>
                    <div class="col-xs-3">
                        <label for="text">Text</label>
                        <input id="text" class="form-control" type="text" name="text"
                               placeholder=" Enter text"/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="createButton" class="btn btn-success btn-block">Post</button>
                </div>
            </form>
        </div>
    </div>
    <table class="table table-bordered sortable glyphicon-edit">
        <thead>
        <tr>
            <th>UUID</th>
            <th>User</th>
            <th>Points</th>
            <th>Text</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment,i : ${university.getComments()}">
            <td th:text="${comment.getId()}">Text...</td>
            <td th:text="${comment.getUser().getUsername()}"></td>
            <td th:text="${comment.getPoints()}"></td>
            <td th:text="${comment.getText()}">Text...</td>
        </tr>
        </tbody>
    </table>

</div>
<script src="/postcomment.js"></script>
</body>
</html>